<form class="row">
    <div class="col-12 form-group">
        <label>
            Name
        </label>
        <input type="text" class="form-control" readonly />
    </div>
    <div class="col-12 form-group">
        <label>
            Description
        </label>
        <input type="text" class="form-control" readonly />
    </div>
    <hr class="mt-4 mb-4">
    <p>Option Types</p>
    <div class="option-types-list-container">
        <input type="text" class="form-control" readonly />
    </div>    
</form>