<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" >
        <h1>PAC 8</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/register"  aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Link</a>
          </li>
        </ul>
      </div>
      
      <ul class="d-flex mb-2" *ngIf="!isLoggedIn">
        <button class="btn btn-outline-success" routerLink="/register" >Register</button>
        <button class="btn btn-outline-success" routerLink="/login" >Login</button>
      </ul>
    </div>
  </nav>

  