<div class="form-container">
  <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()" class="flex-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" formControlName="fullName" placeholder="Your Name">

      <label *ngIf="fullName?.invalid && (fullName?.touched || fullName?.dirty)" for="name"><sup>*</sup>Full Name is
        required</label>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" formControlName="emailAddress" placeholder="Your Email">

      <label *ngIf="emailAddress?.invalid && (emailAddress?.touched || emailAddress?.dirty)"
        for="name"><sup>*</sup>Email is
        required</label>
    </div>
    <div class="form-group">
      <label for="message">Password:</label>
      <input id="password" name="Password" formControlName="password" type="password" placeholder="Your password" />
      <label *ngIf="password?.invalid && (password?.touched || password?.dirty)" for="name"><sup>*</sup>Password
        required</label>
    </div>
    <div class="form-group">
      <label for="message">Confirm Password:</label>
      <input id="confirmPassword" name="ConfirmPassword" formControlName="confirmPassword" type="password"
        [appPasswordMatch]="passwordControlName" placeholder="Confirm your password" />
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch')">Password do not match</div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid" class="mt-2">Submit</button>
    <button type="button" routerLink="/" class="mt-2 btn-danger">Cancel</button>

  </form>
</div>