    <form [formGroup]="createOptionForm" (ngSubmit)="createOption()" class="mt-5">
        <div class="mb-3">
            <label id="optionName" for="Name">Name</label>
            <input id="optionName" class="form-control" formControlName="name" name="Name" type="text" placeholder="Enter option name"/>
            <label *ngIf="name?.invalid && (name?.touched || name?.dirty)"></label>
        </div>

        <div class="form-group">
            <label id="optionDescription" for="description" >Description</label>
            <input id="optionDescription" formControlName="description" class="form-control" name="description" placeholder="Enter option description" type="text"/>
            <label *ngIf="description?.invalid && (description?.touched || description?.dirty)"></label>
        </div>
        
        <div class="mt-2 mb-3" formArrayName="productOptionTypes">
            <div class="row">
              <div class="col col-md-4 offset-md-4">
                <button
                  type="button"
                  (click)="addOptionTypes()"
                  class="btn btn-primary"
                >
                  Add An Option Type
                </button>
              </div>
            </div>
            <ng-container   
              *ngFor="let optionTypeForm of optionTypeForms.controls; let i = index"
            >
              <div class="row" [formGroupName]="i">
                <div class="col col-md-12">
                  <div class="mb-3">
                    <label [for]="'name' + i" class="form-label"
                      >Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [id]="'name' + i"
                      formControlName="name"
                    />
                  </div>
                </div>
                <div class="col col md-2">
                  <button
                    class="btn btn-danger mt-4"
                    type="button"
                    (click)="removeOptionTypeForm(i)"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </ng-container>
          </div>

        <button type="submit" class="mt-2 btn btn-dark  ">Create</button>
        <button type="button" routerLink="/admin/options/list" class="mt-2 btn-danger">Cancel</button>
     </form>
