.custom-height{
    height: 29.75rem
}









































/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
} */
/* .container1 {
    background-color: rgb(44, 1, 44); 
    display: flex;
    flex-direction: column;
    border-radius: 0 2rem 2rem 0;
    width: 100%;
    height: auto;
  }

.carousel-div {
    width: 60rem;
    height: 25rem;
    background-color:whitesmoke;
    border-radius: 30px;
    margin-top: 1rem;
    margin-bottom: 0px;
    }
.button-container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    }

.button-container1 button{
    background-color:white;
    border: none;
    border-radius: 20px;
    color:black;
    padding: 20px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

.steps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
} */








