

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 90%;
  padding: 15px;
  border: 1px solid #ccc;
}



/* button {
  width: 30%;
  padding: 10px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */






/* .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: purple;
  }
  
  .flex-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } */