/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~ngx-toastr/toastr';

 
html, body { height: 100vh; 
  min-height: 100vh;
  background-color: white !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}

.center-form-white-backdround{
  display: flex;
  background-color: whitesmoke;
  justify-items: center;
  align-items: start;
  height: 80vh;
}

