<div class="flex items-center justify-between bg-gray-200 p-4 mb-4">
    <div class="relative">
      <input type="text" placeholder="Search Order" class="pl-10 pr-3 py-2 w-128 rounded-5 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M15 10A5 5 0 1010 15a5 5 0 005-5z"></path>
        </svg>
      </div>
    </div>
  </div>
  
    <table class="table-auto w-full">
        <thead class=" bg-[#160020]">
          <tr class="text-[white]">
            <th class="px-4 py-2">Product name</th>
            <th class="px-4 py-2">Product type</th>
            <th class="px-4 py-2">Qty</th>
            <th class="px-4 py-2">Date</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList;"class="bg-white ">
            <td class="px-4 py-2">{{product.productName}}</td>
            <td class="px-4 py-2">{{product.productType}}</td>
            <td class="px-4 py-2">{{product.qty}}</td>
            <td class="px-4 py-2">{{product.date}}</td>
            <td class="px-4 py-2">{{product.price}}</td>
            <td>
              <div class="flex items-center">
                <div class="relative">
                  <div class="border-red-500 border rounded-full px-4 py-2">
                    {{product.status}}
                  </div>
                  <div class="absolute right-0 top-1/2 transform -translate-y-1/2 -translate-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M10 12a1 1 0 01-.707-.293l-4-4a1 1 0 011.414-1.414L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4A1 1 0 0110 12z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
