<div class="w-full h-full">
    <div class="flex max-w-[75%] m-auto h-[80vh] mt-[5%] ">
        <div class="sm:w-1/2 p-[30px]">
            <div class="mt-5  ">
                <img [src]="products?.imageURL" class="sm:w-[70%] sm:h-[70%]">
            </div>
        </div>
        <div class="sm:w-1/2 pt-[50px] pr-[100px] pb-[50px] pl-[50px]">
            <div class="mt-5 mb-5">
                <h3>{{products?.name}}</h3>
                <h4>Price: <small>$</small>{{products?.price}} </h4>
                <div class="flex ">
                    <h5 class="mr-2 mt-4">Color:</h5>
                    <span class="w-[25px] h-[25px] bg-[#E0D1D1] rounded-[50%] my-[20px] mr-[10px]"></span>
                    <span class="w-[25px] h-[25px] bg-[#1B21A6] rounded-[50%] my-[20px] mr-[10px]"></span>
                    <span class="w-[25px] h-[25px] bg-[#FA0000] rounded-[50%] my-[20px] mr-[10px]"></span>
                </div>
                <h6>Descriptiion: {{products?.description}}</h6>
                <h5>Number</h5>
                <div class="flex">
                    <button class="w-[25px] h-[25px]  my-[20px] mr-[10px] border-solid border-2 text-center">-</button>
                    <label class="w-[40px] h-[35px]  my-[15px] mr-[10px] border-solid border-2 text-center pt-[10px] pr-[30px] pl-[20px] rounded-full">1</label>
                    <button class="w-[25px] h-[25px]  my-[20px] mr-[10px] border-solid border-2 text-center">+</button>
                </div>
                <button class="w-[100%] p-[10px] bg-[#000000] text-white mt-[20%] rounded-full ">Add to Cart</button>              
            </div>
        </div>

    </div>

</div> 